<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Регистрация книги</title>
</head>
<body>
<form th:action="@{/library/regBook}" th:object="${bookDTO}" method="post">
    <div>
        <label for="bookTitle">Название книги:</label>
        <input type="text" id="bookTitle" th:field="*{title}">
        <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
    </div>
    <br>
    <div>
        <label for="bookAuthorName">Автор:</label>
        <input type="text" id="bookAuthorName" th:field="*{authorName}">
        <span th:if="${#fields.hasErrors('authorName')}" th:errors="*{authorName}"></span>
    </div>
    <br>
    <div>
        <label for="bookYearOfProduction">Год издания:</label>
        <input type="number" id="bookYearOfProduction" th:field="*{yearOfProduction}">
        <span th:if="${#fields.hasErrors('yearOfProduction')}" th:errors="*{yearOfProduction}"></span>
    </div>
    <br>
    <button type="submit">Создать</button>
</form>
</div>
<br>
<div>
    <form th:action="@{/library}" method="get">
        <button type="submit">На главную</button>
    </form>
</div>
</body>
</html>