<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Регистрация держателя</title>
</head>
<body>
<div>
    <form th:action="@{/library/regHolder}" th:object="${bookHolderDTO}" method="post">
        <div>
            <label for="bookHolderName">Имя держателя:</label>
            <input type="text" id="bookHolderName" th:field="*{name}">
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        </div>
        <br>
        <div>
            <label for="bookHolderSurname">Фамилия держателя:</label>
            <input type="text" id="bookHolderSurname" th:field="*{surname}">
            <span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></span>
        </div>
        <br>
        <div>
            <label for="bookHolderPatronymic">Отчество держателя:</label>
            <input type="text" id="bookHolderPatronymic" th:field="*{patronymic}">
            <span th:if="${#fields.hasErrors('patronymic')}" th:errors="*{patronymic}"></span>
        </div>
        <br>
        <div>
            <label for="bookHolderBirthdate">Дата рождения держателя:</label>
            <input type="date" id="bookHolderBirthdate" th:field="*{birthdate}">
            <span th:if="${#fields.hasErrors('birthdate')}" th:errors="*{birthdate}"></span>
        </div>
        <br>
        <button type="submit">Создать</button>
    </form>
</div>
<br>
<div>
    <form th:action="@{/library}" method="get">
        <button type="submit">На главную</button>
    </form>
</div>
</body>
</html>